<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Pirates!</title>
 </head>
 <body>
 <h1> New Pirate </h1>

 <form method = "POST" action="/pirates">
 <p>Name: <input type="text" name="pirate[name]"></p>
 <p>Weight: <input type="text" name="pirate[weight]"></p>
 <p>Height: <input type="text" name="pirate[height]"></p>
 <p>Ship 1 Name: <input type="text" name="ship_name_1"></p>
 <p>Ship 1 Type: <input type="text" name="ship_type_1"></p>
 <p>Ship 1 Booty: <input type="text" name="ship_booty_1"></p>
 <p>Ship 2 Name: <input type="text" name="ship_name_2"></p>
 <p>Ship 2 Type: <input type="text" name="ship_type_2"></p>
 <p>Ship 2 Booty: <input type="text" name="ship_booty_2"></p>
 <input type="submit">
  </form>
 </body>
</html>



