<h1><%= @pirate.name, @pirate.weight, @pirate.height %></h1>

<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Topic: <%= ship.type %></p><br>
    <p>Topic: <%= ship.booty %></p><br>
  </div><br>
